.barchart {
  margin-block: var(--xl-whitespace);
  padding-inline: var(--md-whitespace);
  padding-top: var(--lg-whitespace);
  background-color: var(--element-bg-color);
  border-radius: 0.25rem;
  max-width: 25rem;
  margin-inline: auto;

  &__filter {
    fieldset {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--md-whitespace);
      border: none;
      margin-inline: auto;
      max-width: 8rem;

      legend {
        margin-inline: auto;
        color: var(--secondary-text-color);
      }

      p {
        color: var(--secondary-text-color);
        margin-left: -5px;
      }
    }
  }

  &__select {
    background: none;
    border: none;
    display: block;
    width: fit-content;
    font-weight: 600;
    color: var(--white);
  }

  &__sorting {
    background-color: var(--secondary-color);
    color: var(--white);
    text-align: center;
    grid-column: -1 / 1;
    border-radius: 5px;
    font-size: 0.75rem;
    padding-block: var(--xs-whitespace);

    input {
      all: unset;
    }
  }

  &__inner {
    margin-top: var(--lg-whitespace);

    text {
      dominant-baseline: mathematical;

    }
  }

  &__bar {
    fill: var(--primary-color);
  }

  &__text {
    fill: var(--white);
    font-size: 2.25rem;
    dominant-baseline: central;
  }

  &__labels {
    text {
      font-size: 2rem;
      font-weight: 700;
      dominant-baseline: central;
      fill: var(--white);
    }
  }
}