.barchart {
    width: var(--main-width);
    margin-inline: auto;
    margin-top: var(--xl-whitespace);
    padding-inline: var(--md-whitespace);
    padding-top: var(--lg-whitespace);
    background-color: var(--white);
    border-radius: .25rem;

    &__filter {
        fieldset {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--md-whitespace);
            border: none;
            margin-inline: auto;
            max-width: 8rem;

            legend {
                margin-inline: auto;
            }
        }
    }

    &__select {
        all: unset;
    }

    &__inner {
        margin-top: var(--lg-whitespace);
    }

    &__bar {
        fill: var(--madison);
    }

    &__labels {
        text {
            font-size: 1rem;
            font-weight: 700;
        }
    }
}