*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  background-color: var(--bg-color);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --bg-color: #121212;
  --element-bg-color: #1b1b1b;
  --primary-color: #4270b7;
  --secondary-color: #b48151;
  --white: #ffffff;
  --secondary-text-color: #9b9b9b;

  --main-width: min(100% - 2rem, 60rem);
  --xs-whitespace: 0.25rem;
  --sm-whitespace: 0.5rem;
  --md-whitespace: 1rem;
  --lg-whitespace: 1.5rem;
  --xl-whitespace: 2rem;
}

.container {
  width: var(--main-width);
  margin-inline: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Source+Sans+Pro:wght@300;400;700&display=swap");