//leaflet
#map {
    height: 60vh;
}

.animated-icon {

    i {
        width: 15px;
        height: 15px;
        display: block;
        border-radius: 50%;
        box-shadow: 0px 0px 4px black;
        animation: pulse-red 2s infinite;
        transform-origin: "50% 50%";
    }


    &--empty i {
        display: none;
    }

    &--low i {
        background-color: rgba(255, 0, 0, 0.8);
        animation: pulse-low 2s infinite;
    }

    &--medium i {
        background-color: rgb(255, 136, 0.8);
        animation: pulse-medium 2s infinite;
    }

    &--high i {
        background-color: rgba(55, 255, 0, 0.8);
        animation: pulse-high 2s infinite;
    }
}

//Pulse animations

@keyframes pulse-low {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.1);
    }
}

@keyframes pulse-medium {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 136, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse-high {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(55, 255, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}